---
const name = "stefanyas";
---

<section>
  <p>{name}@<span id="browser-info"></span> |</p>
  <input id="terminal-input" type="text" />
</section>
<style>
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  p {
    font-family: var(--monospace-font-family);
    font-size: 20px;
  }

  #browser-info {
    font-size: 20px;
    font-weight: 500;
  }

  #terminal-input {
    background: none;
    border: none;
    font-family: var(--monospace-font-family);
    font-size: 20px;
    color: var(--text-color);
    width: 750px;
  }

  #terminal-input:focus {
    border: none;
    outline: none;
  }

  @media only screen and (max-width: 1200px) {
    section {
      flex-direction: column;
      align-items: flex-start;
    }
    #terminal-input {
      width: 300px;
    }
  }
</style>

<p id="browser-info"></p>

<script>
  const p = document.getElementById("browser-info");
  const userAgent = navigator.userAgent;
  let browser = "unknown";

  if (userAgent.indexOf("Chrome") !== -1) {
    browser = "chrome";
  } else if (userAgent.indexOf("Firefox") !== -1) {
    browser = "firefox";
  }

  p.textContent = browser;

  const input = document.getElementById("terminal-input");
  const examples = [
    "how to tie a tie",
    "today's weather",
    "is it halloween yet",
    "what's my age again",
    "make the terminal great again",
    "we'll make our terminal... with blackjack and hookers!",
    "hey sexy! wanna kill all humans?",
    "another pointless day where I accomplish nothing",
    "did everything just taste purple for a second?",
    "at the risk of sounding positive, you can do this!",
    "you look good today!",
    "press ctrl+c to clear the terminal",
    "you can search reddit by starting your search with r:",
    "you can search stack overflow by starting your search with s:",
    "input 'help' for more info",
  ];
  const randomIndex = Math.floor(Math.random() * examples.length);
  input.placeholder = examples[randomIndex];

  input.focus();

  input.addEventListener("keydown", function (event) {
    let value = input.value.toLowerCase();
    let elements = document.querySelectorAll("a");

    let matchFound = false;
    if (event.ctrlKey && event.key === "c") {
      input.value = "";
      for (let i = 0; i < elements.length; i++) {
        let element = elements[i];
        element.style.mixBlendMode = "";
      }
    }
    for (let i = 0; i < elements.length; i++) {
      let element = elements[i];
      if (value === "" || event.keyCode !== 13) {
        continue;
      }
      if (
        element.textContent
          .toLowerCase()
          .indexOf(value.replace(/^r:|^s:/, "")) !== -1
      ) {
        window.location.href = element.href;
        matchFound = true;
        break;
      }
    }
    if (!matchFound && event.keyCode === 13) {
      if (value === "help") {
        document.getElementById("help").style.display = "block";
        document.getElementById("overlay").classList.add("active");
      } else if (value.startsWith("r:")) {
        window.location.href =
          "https://google.com/search?q=site:reddit.com " +
          value.replace("r:", "");
      } else if (value.startsWith("s:")) {
        window.location.href =
          "https://google.com/search?q=site:stackoverflow.com " +
          value.replace("s:", "");
      } else {
        let words = value.split(".");
        if (words.length >= 2) {
          window.location.href = "http://" + value;
        } else {
          window.location.href = "https://google.com/search?q=" + value;
        }
      }
    }
  });

  input.addEventListener("input", function () {
    let value = input.value.toLowerCase();
    let elements = document.querySelectorAll("a");
    for (let i = 0; i < elements.length; i++) {
      let element = elements[i];
      if (value === "") {
        element.style.mixBlendMode = "";
      } else if (
        element.textContent
          .toLowerCase()
          .indexOf(value.replace(/^r:|^s:/, "")) !== -1
      ) {
        element.style.mixBlendMode = "";
      } else {
        element.style.mixBlendMode = "color-burn";
      }
    }
  });

  const table = document.getElementById("help");

  function exitTable() {
    table.style.display = "none";
    document.getElementById("overlay").classList.remove("active");
    const input = document.getElementById("terminal-input");
    input.value = "";
    input.focus();

    const elements = document.querySelectorAll("a");
    for (let i = 0; i < elements.length; i++) {
      let element = elements[i];
      element.style.mixBlendMode = "";
    }
  }

  document.addEventListener("keydown", function (event) {
    if (event.keyCode === 27) {
      exitTable();
    }
  });

  const closeTableButton = document.getElementById("closeTable");

  closeTableButton.onclick = function () {
    exitTable();
  };
</script>
