---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" color-mode="user">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --background-color: #dee2e6;
    --text-color: #212529;
    --card-background-color: #f8f9fa;
    --greyed-out-text-color: #adb5bd;
    --border-radius: 5px;
    --font-family: "Inter", sans-serif;
    --monospace-font-family: "Source Code Pro", monospace;
  }

  @media (prefers-color-scheme: dark) {
    :root[color-mode="user"] {
      --background-color: #212529;
      --text-color: #f8f9fa;
      --card-background-color: #343a40;
      --greyed-out-text-color: #212529;
    }
  }
  html {
    font-family: var(--font-family);
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 1200px) {
    body {
      align-items: flex-start;
    }
  }
</style>
